[Unit]
Description=Proxy HRT1 public port to field reverse tunnel localhost:16000

[Service]
ExecStart=/lib/systemd/systemd-socket-proxyd 127.0.0.1:16000
